/* 公式用 */
#update-form > .ft {
  padding-bottom: 0;
}

/* 俺用 */
#ore-form > textarea {
  box-sizing : border-box;
  width : 100%;
  resize : vertical;
}

#ore-form > button { 
  box-sizing: border-box;
  border-width: initial;
  border-style: dotted;
  padding: 0 2px;
  opacity: 0.4;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
}
#ore-form > button[data-tgl="true"] {
  border-style: solid;
  opacity: 0.8;
}
